<div class="mainContainer">
    <div class="header">
        <div class="headerContainer">
            <div>
                <h3>To , Aung Aung</h3>
            </div>
            <div>
                <h3>phone</h3>
            </div>
        </div>
    </div>
    <div class="middle">
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        <h1>middle</h1>
        
    </div>
    <div class="footer">
       <div class="inputContainer">
            <input type="text" placeholder="Type a message" class="input">
            <button>
                <span>Send</span>
                <img src="../../../assets/images/send.svg" alt="send.svg" class="sendImage">
            </button>
       </div>
    </div>
</div>