<div class="mainContainer">
    <div class="header">
        <div class="headerContainer"  *ngIf="name">
            <div>
                <h3>To , {{name}}</h3>
            </div>
            <div class="iconContainer">
                <div class="iconBox" style="background-color: blue;" matTooltip="call">
                    <img src="../../../assets/images/phone-white.svg" alt="phone.svg" class="icon">
                </div>
                <div class="iconBox" style="background-color: black;" matTooltip="video-call">
                    <img src="../../../assets/images/videocam-white.svg" alt="phone.svg"  class="icon">
                </div>
                <div class="iconBox" style="background-color: red;"  matTooltip="More">
                    <img src="../../../assets/images/more-white.svg" alt="phone.svg" class="icon">
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div *ngIf="statusChat">
            <h1>No Conversation in this screen.</h1>
        </div>
        <div *ngIf="!statusChat">
            <app-message-cards *ngFor="let message of messages" [message]="message.meassage" [senderId]="message.senderId" [date]="message.createdAt" ></app-message-cards>
        </div>
    </div>
    <div class="footer" *ngIf="!statusChat">
       <form class="inputContainer" (submit)="sendMessage()">
            <input type="text" placeholder="Type a message" class="input" [(ngModel)]="message" name="message">
            <button>
                <span>Send</span>
                <img src="../../../assets/images/send-white.svg" alt="send.svg" class="sendImage">
            </button>
        </form>
    </div>
</div>