.mainContainer{
    width: 100%;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.header{
    width: 100%;
    height: 8%;
    position: fixed;
    top: 0px;
    box-shadow: 3px 1px 1px black;
}
.middle{
    height: calc(100% - 16%);
    margin-top: 60px;
    margin-left: 10px;
    padding: 10px 30px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.footer{
    position: fixed;
    bottom: 0px;
    height: 8%;
    width: 100%;
}
.inputContainer{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.input{
    width: 100%;
    padding: 15px;
    border: none;
    background-color: rgba(218, 212, 212, 0.852);
    border-radius: 5px;
    font-size: 14px;
    color: #000000;
    outline: none;
    margin: 10px;
}
.input::placeholder{
    font-size: 14px;
}
button{
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-size: 14px;
    font-weight: 400;
}
.sendImage{
    width: 18px;
    margin-left: 5px;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:75%;
    height: 100%;
    padding: 20px;
}
h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
.iconContainer{
    display: flex;
    gap: 10px;
}
.iconBox{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
}
icon{
    width: 20px;
}