.card{
    height: 80px;
    border-radius: 10px;
    padding: 0px 10px;
    display: flex;
    align-content: center;
    cursor: pointer;
}
.card:hover{
    background-color: gainsboro;
}
.avatorImage{
    width: 65px;
    height: 65px;
    margin-top: 5px;
}
.textContainer{
    margin-left: 20px;
    margin-top: 10px;
}
h2{
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
p{
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
    text-wrap: wrap;
}
.active {
    background-color: gainsboro;
  }