.main{
    display: flex;
    width: 100%;
    height: 100vh;
}
.list{
    width: 25%;
    border-right: 0.5px solid black;
}
.message{
    width: 75%;
}

::ng-deep .error-snackbar{
    background: red !important;
    color: white;
}
::ng-deep .mat-simple-snackbar-action{
    color: white !important;
}