<div class="mainChat">
    <div class="header">
        <div>
            <h3>Chat <span>App</span></h3>
        </div>
        <div class="searchContainer">
            <div class="searchBox">
                <input type="text" placeholder="Search Users" class="userSearch">
                <img src="../../../assets/images/search-white.svg" alt="search_icon" class="search_icon">
            </div>
        </div>
        <div class="iconBoxContainer">
            <div class="iconBox" style="background-color: blue;" matTooltip="create" (click)="addUserDialog()">
                <img src="../../../assets/images/plus-white.svg" alt="create" class="icon">
            </div>
            <div class="iconBox" style="background-color: black;" matTooltip="settings">
                <img src="../../../assets/images/settings-white.svg" alt="setting" class="icon">
            </div>
            <div class="iconBox" style="background-color: gray;" matTooltip="Notifications" matBadge="15" matBadgeSize="small">
                <img src="../../../assets/images/noti-white.svg" alt="noti" class="icon">
            </div>
        </div>
    </div>
    <div class="list">
       <app-card *ngFor="let user of receivedUserList;let i = index" [userName]="user.name" [profile]="user.profilePic" (click)="setActive(i)" [active]="activeIndex" [index]="i" [lastMessage]="lastMessage"></app-card>
    </div>
</div>