.messageCard{
    max-width: 350px;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message{
    max-width: 350px;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.messageCardContainer{
    display: flex;
    margin-top: 5px;
}
.messageCards{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}
.profile{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
}
.time{
    font-size: 12px;
    text-wrap: nowrap;
}